<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    {% endblock %}
</head>

<body>
    <style>
        /*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
        /*==============================================
    GENERAL  STYLES    
    =============================================*/
        body {
            font-family: 'Open Sans', sans-serif;
            line-height: 30px;
        }

        #wrapper {
            width: 100%;
        }

        #page-wrapper {
            min-height: 600px;
            background: #F3F3F3;

        }

        #page-inner {
            width: 100%;
            margin: 10px 20px 10px 0px;
            background-color: #fff !important;
            padding: 10px;
            min-height: 1050px;
        }

        .pad-top {
            padding-top: 15px;
        }

        /*==============================================
    MENU STYLES    
    =============================================*/

        .sidebar-collapse .nav {
            padding: 0;
            padding-top: 50px;
        }

        .sidebar-collapse>.nav>li>a {
            padding: 15px 10px;
            color: #214761;
            font-weight: 900;
            font-size: 16px;
        }

        .sidebar-collapse>.nav>li {
            border-bottom: 1px solid #e1e1e1;
            padding: 20px;
        }

        .sidebar-collapse .nav>li>a:hover,
        .sidebar-collapse .nav>li>a:focus {

            background: #F3F3F3;
            outline: 0;
        }

        .navbar-side {
            border: none;
            background-color: #fff;

        }

        .navbar-inverse {

            background-color: #214761;
            border-color: #F0F0F0;
            min-height: 80px;
        }


        .nav>li>a>i {
            margin-right: 10px;
        }

        .logout-spn {
            float: right;
            color: #fff;
            font-size: 25px;
            font-weight: 800;
            margin: 20px;
            margin: 10px 25px 10px 50px;
        }

        .logout-spn a {
            text-decoration: none;
        }

        .active-link {
            background-color: #f3f3f3;
        }

        /*==============================================
    DASHBOARD STYLES    
    =============================================*/
        .div-square {
            padding: 5px;
            border: 3px double #e1e1e1;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            margin: 5px;

        }

        .div-square>a,
        .div-square>a:hover {
            color: #808080;
            text-decoration: none;
        }

        /*==============================================
    FOOTER STYLES     
    =============================================*/
        .footer {
            background-color: #214761;
            width: 100%;
            color: #fff;
            padding: 20px 50px 20px 50px;
            padding-left: 20px;
        }


        .footer>a,
        .footer>a:hover {

            color: #fff;
        }

        /*==============================================
    MEDIA QUERIES     
    =============================================*/

        @media(min-width:768px) {
            #page-wrapper {
                margin: 0 0 0 260px;
                min-height: 1050px;

            }


            .navbar-side {
                z-index: 1;
                position: absolute;
                width: 260px;
               

            }


        }
    </style>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                    </a>
                </div>

                <span class="logout-spn">
                    <a href="/" style="color:#fff;">Home</a>

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li class="active-link">
                        <a href="/admin"><i class="fa fa-edit "></i>Home</a>
                    </li>
                    <li>
                        <a href="/categorieadmin"><i class="fa fa-desktop "></i>Categorie</a>
                    </li>


                    <li>
                        <a href="/produitadmin"><i class="fa fa-table "></i>Produit</a>
                    </li>


                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <!-- /. ROW  -->
              

                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


    {% block javascripts %}
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>